.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ExportButtons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

    .ExportButtons button {
        border: none;
        color: white;
        padding: 10px 20px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: center;
    }

.json-button {
    background-color: #61dafb;
}

    .json-button:hover {
        background-color: #21a1f1;
    }

.xml-button {
    background-color: #ffa500;
}

    .xml-button:hover {
        background-color: #ff7f00;
    }

.txt-button {
    background-color: #ff4136;

}

    .txt-button:hover {
        background-color: #e60000;
    }

.csv-button {
    background-color: #2ecc40;
}

    .csv-button:hover {
        background-color: #28a745;
    }
